<div style="text-align:center;background-color:lightgray">
    <div class="container" >
    <div class='panel panel-primary' style="width:50%" >
    <div class='panel-heading'>
      <h4>Login</h4>
    </div>
    <div class='panel-body'>
      <div class='row'> 
        <div class='table-responsive'>
          <table class='table'>
            <tr>
              <td>Login</td>
              <td><input type="text" [(ngModel)]='username'></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" [(ngModel)]='pass'> </td></tr>
            <tr>
              <td><button type="button" class="btn btn-success" data-toggle='tooltip' (click)='Login()'title='Log in to your account'>Log In</button></td>
              <td><button type="button" class="btn btn-danger" (click)="signup()" data-toggle='tooltip' title='Signup to create an account'>Signup</button></td>
            </tr>      
           </table>
        </div>
      </div>
    </div>
    <div>
  </div>

  To check <b>Login:</b> Vaibhav
  <b>password:</b> 12